<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Chatbots and VR in store for F8 conference</string>
		<key>Speaker</key>
		<string>Alexis Gallagher</string>
		<key>Room</key>
		<string>Metropolitan Center</string>
		<key>Time</key>
		<string>Apr 14, 5:45</string>
		<key>Background</key>
		<string>Inspiration-10</string>
		<key>Website</key>
		<string>http://www.ctvnews.ca/sci-tech/chatbots-and-vr-in-store-for-2016-facebook-f8-conference-1.2855536</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Belgium detains three over Brussels</string>
		<key>Speaker</key>
		<string>Brian Moakley</string>
		<key>Room</key>
		<string>The Grid</string>
		<key>Time</key>
		<string>Apr 15, 5:45</string>
		<key>Background</key>
		<string>Inspiration-09</string>
		<key>Website</key>
		<string>http://www.theglobeandmail.com/news/world/two-further-suspects-charged-in-brussels-attacks/article29604304/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Boko Haram’s Use of Child Abuse</string>
		<key>Speaker</key>
		<string>Jake Gundersen</string>
		<key>Room</key>
		<string>The Hill</string>
		<key>Time</key>
		<string>Apr 13, 3:35</string>
		<key>Background</key>
		<string>Inspiration-05</string>
		<key>Website</key>
		<string>http://www.theglobeandmail.com/news/world/boko-harams-use-of-child-suicide-bombers-soaring-un-says/article29604710/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Yellow fever outbreak kills 21 in Congo</string>
		<key>Speaker</key>
		<string>Ellen Shapiro</string>
		<key>Room</key>
		<string>The Grid</string>
		<key>Time</key>
		<string>Apr 13, 1:28</string>
		<key>Background</key>
		<string>Inspiration-06</string>
		<key>Website</key>
		<string>http://www.cbc.ca/news/health/who-congo-yellow-fever-1.3531487</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sanders Receives Social Media Support</string>
		<key>Speaker</key>
		<string>Chris Wagner</string>
		<key>Room</key>
		<string>Metropolitan Center</string>
		<key>Time</key>
		<string>Apr 14, 8:32</string>
		<key>Background</key>
		<string>Inspiration-03</string>
		<key>Website</key>
		<string>http://www.fastcompany.com/3058681/inside-bernie-sanders-social-media-machine</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Venezuela Local Politician Killed</string>
		<key>Speaker</key>
		<string>Kim Pedersen</string>
		<key>Room</key>
		<string>The Grid</string>
		<key>Time</key>
		<string>Apr 14, 5:45</string>
		<key>Background</key>
		<string>Inspiration-02</string>
		<key>Website</key>
		<string>http://www.cnn.com/2015/11/26/americas/venezuela-opposition-politician-killed/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Trump Loses Weekend Delegate </string>
		<key>Speaker</key>
		<string>Tammy Coron</string>
		<key>Room</key>
		<string>The Hill</string>
		<key>Time</key>
		<string>Apr 12, 6:48</string>
		<key>Background</key>
		<string>Inspiration-01</string>
		<key>Website</key>
		<string>http://www.cnn.com/2016/04/03/politics/north-dakota-gop-delegates-donald-trump-ted-cruz-john-kasich/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Smoke-filled air in B.C. as fires threaten </string>
		<key>Speaker</key>
		<string>Vicki Wenderlich</string>
		<key>Room</key>
		<string>Metropolitan Center</string>
		<key>Time</key>
		<string>Apr 14, 6:48</string>
		<key>Background</key>
		<string>Inspiration-07</string>
		<key>Website</key>
		<string>http://www.theweathernetwork.com/news/articles/photos-two-fast-moving-fires-force-evacuations-in-bc/55737</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sixth witness disputes police account of killing</string>
		<key>Speaker</key>
		<string>Ryan Nystrom</string>
		<key>Room</key>
		<string>The Hill</string>
		<key>Time</key>
		<string>Feb 6, 5:45</string>
		<key>Background</key>
		<string>Inspiration-08</string>
		<key>Website</key>
		<string>http://www.theguardian.com/us-news/2016/apr/12/witness-san-francisco-police-shooting-homeless-man-luis-gongora</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Creator of Fenix makes new RSS reader </string>
		<key>Speaker</key>
		<string>Cesare Rocchi</string>
		<key>Room</key>
		<string>The Hill</string>
		<key>Time</key>
		<string>Feb 7, 3:45</string>
		<key>Background</key>
		<string>Inspiration-11</string>
		<key>Website</key>
		<string>http://www.androidauthority.com/fenix-creator-quote-rss-reader-feedly-inoreader-685744/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Canadian Loblaw Plans Expansion</string>
		<key>Speaker</key>
		<string>Ricardo Rendon Cepeda</string>
		<key>Room</key>
		<string>The Grid</string>
		<key>Time</key>
		<string>Feb 7, 3:45</string>
		<key>Background</key>
		<string>Inspiration-12</string>
		<key>Website</key>
		<string>http://www.wsj.com/articles/canadian-grocer-loblaw-plans-expansion-1460465858</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Trudeau points out at Modi</string>
		<key>Speaker</key>
		<string>Marin Todorov</string>
		<key>Room</key>
		<string>Metropolitan Center</string>
		<key>Time</key>
		<string>Feb 7, 3:45</string>
		<key>Background</key>
		<string>Inspiration-13</string>
		<key>Website</key>
		<string>http://www.cnn.com/2016/03/15/politics/election-2016-ohio-illinois-florida-primaries-highlights/index.html</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Fires turn Amazon into desert</string>
		<key>Speaker</key>
		<string>Matthijs Hollemans</string>
		<key>Room</key>
		<string>The Hill</string>
		<key>Time</key>
		<string>Feb 7, 4:15</string>
		<key>Background</key>
		<string>Inspiration-14</string>
		<key>Website</key>
		<string>http://www.independent.co.uk/news/world/americas/fires-could-turn-amazon-rainforest-into-a-desert-as-human-activity-and-climate-change-threaten-lungs-9259741.html</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Secret to a Successful Business</string>
		<key>Speaker</key>
		<string>Cesare Rocchi</string>
		<key>Room</key>
		<string>The Grid</string>
		<key>Time</key>
		<string>Feb 7, 4:15</string>
		<key>Background</key>
		<string>Inspiration-15</string>
		<key>Website</key>
		<string>http://www.forbes.com/sites/quora/2012/12/20/whats-the-secret-to-a-successful-coffee-shop/#cf515246d376</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Ukarine Peace Talks </string>
		<key>Speaker</key>
		<string>Saul Mora</string>
		<key>Room</key>
		<string>Metropolitan Center</string>
		<key>Time</key>
		<string>Feb 7, 4:15</string>
		<key>Background</key>
		<string>Inspiration-16</string>
		<key>Website</key>
		<string>http://www.nzherald.co.nz/world/news/article.cfm?c_id=2&amp;objectid=11398649</string>
	</dict>
</array>
</plist>
